/* FIRST SECTION */
.overview-section {
	background-color: #d6d6d6;
	/*background-color: #2ecc71;*/
	padding: 10px;
}

.shadow-out {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.shadow-in {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.newzsocial-logo {
	float: left;
}

.date-select-container {
	float: right;
	font-weight: bold;
	display: inline-block;
}

.datepicker {
	width: 90px;
}

.ui-datepicker {
	font-size: 10px;
}

.date-display {
	margin:0 auto;
	background-color: #ffffff;
	font-weight: bold;
	padding: 10px;
	display: inline-block;
	/*border: 1px solid #bdbdbd;*/
	min-width: 185px;

	position: relative;
	left: 30%;
}

.overview-table {
	position: relative;
	left: 26%;
	width: 601px;
	display: inline-block;
}

.overview-figure-container {
	margin-top: 10px;
}

.overview-figure-window {
	/*width: 42%;*/
	width: 20%;
	border: 1px solid #bdbdbd;
	background-color: #ffffff;
	font-weight: bold;
	padding: 10px;
}

/*.left-table-column {
	width: 20%;
	float: left;
}

.right-table-column {
	float: right;
	width: 75%;
}*/

.sparkline-piechart {
	text-align: center;
}

.number {
	font-size: 20px;
}

.percentage {
	float: right;
	font-size: 10px;
	font-weight: bold;
}

.up {
	color: green;
}

.down {
	color: red;
}

.overview-piechart-container {
	margin-top: 10px;
}

.overview-piechart-window {

}

.piechart {
	width: 260px;
	height: 200px;
}

.combochart {
	width: 930px;
	height: 400px;
/*	display: inline;
	text-align: center;*/
} 

.chart-section {
	background-color: #f2f2f2;
	/*background-color: #ffffff;*/
	/*background-color: #27ae60;*/
	padding:10px;
	text-align: center;
}

.charts-container {
	display: inline-block;
}

.mode-btn {
	margin-bottom: 10px;
/*	position: relative;
	left: 900px;*/
}

.table-section {
	background-color: #ffffff;
	/*background-color: #2ecc71;*/
	padding: 10px;
}

.table {
	background-color: #ffffff;
}

.accordion {
	border: none;
}

.metric-width {
	width: 120px;
}

.table-header {
	background-color:  #f2f2f2;
}