<!DOCTYPE html>
<html>
	
	<head>

		<title>SMC - Overview Report</title>

		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.css" />
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="css/theme.bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/new5.css" />

		<!-- Bootstrap, jQuery and jQuery-UI -->
		<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/jquery.sparkline.js"></script>
		<script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="js/jquery.tablesorter.widgets.min.js"></script>

		<!-- High Chart JavaScript -->
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>

		<!-- Custom JavaScript -->
	  	<script type="text/javascript">

	  		$( function () {

	  			var businessId = 1; //temporary fix
	  			
	  			//Tooltips Variables
	  			var ttPosts 		= "Number of posts to social touchpoints",
	  				ttUsers 		= "Number of users that have posted content during the specified timeframe",
	  				ttClicks 		= "Number of clicks on the posted content",
	  				ttClickRate 	= "Number of clicks per post",
	  				ttInteractions 	= "Total number of interactions, including clicks, shares/retweets, favorites/likes, and comments",

		  			ttDestination 	= "Social network touchpoint (timeline, page, group)",
		  			ttSocialNetwork	= "Social network (Twitter, LinkedIn, Facebook)",
		  			ttTitle			= "Title of content posted",
		  			
		  			ttShares		= "Number of shares on Facebook and LinkedIn and Retweets on Twitter",
		  			ttAmpRate  		= "Number of shares/retweets per post.",
		  			ttLikes			= "Number of likes on Facebook and LinkedIn and favorites on Twitter",
		  			ttAppRate  		= "Number of likes/favorites per post",
		  			ttComments  	= "Number of comments on Facebook and LinkedIn",
		  			ttConvRate  	= "Number of comments per post.";

		  		//jQuery tablesorter plug-in class initiation
	  			$.extend($.tablesorter.themes.bootstrap, {
				    // these classes are added to the table. To see other table classes available,
				    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
				    table      : 'table table-bordered',
				    caption    : 'caption',
				    header     : 'bootstrap-header', // give the header a gradient background
				    footerRow  : '',
				    footerCells: '',
				    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
				    // sortNone   : 'bootstrap-icon-unsorted',
				    sortNone   : '',
				    sortAsc    : 'icon-chevron-up',     // includes classes for Bootstrap v2 & v3
				    sortDesc   : 'icon-chevron-down', // includes classes for Bootstrap v2 & v3
				    active     : '', // applied when column is sorted
				    hover      : '', // use custom css here - bootstrap class may not override it
				    filterRow  : '', // filter row class
				    even       : '', // odd row zebra striping
				    odd        : ''  // even row zebra striping
				});

		  		init();	//Initialization

				$(".btn-custom").click( function () {
					$('.btn-custom').removeClass('active');
	  				$(this).addClass('active');
	  				switch( $(this).attr('id') ) {
	  					case 'dayBtn' :

	  					console.log("call day");
						//daily aggregation

						break;
						case 'weekBtn' :

						console.log("call week");
						//weekly aggregation

						break;
						case 'monthBtn' :

						console.log("call month");
						//monthly aggregation

						break;
					}
				});

				$(".table-tab").click( function () {

					$(".table-tab").removeClass('active');
					$(this).addClass('active');

					$('.table-container').children().hide();

					switch ( $(this).attr('id') ) {

						case "campaignTableTab" : $('#campaignTableContainer').show();
						break;
						case "socialNetworkTableTab" : $('#socialNetworkTableContainer').show();
						break;
						case "contentTableTab" : $('#contentTableContainer').show();
						break;
						case "userTableTab" : $('#userTableContainer').show();
						break;
					}
				});


	  			/******************************* FUNCTIONS DECLARATION ****************************/
	  			function init () {

		  			//Initialize Datepickers
		  			$('#from').datepicker({
		  				maxDate:0,
		  				onSelect: function( selectedDate ) {
		  					$( "#to" ).datepicker( "option", "minDate", selectedDate );
		  					$('.subsequent-loading-img').show();
		  					toggleTableState(); 

		  					var date = getDateFromDatepicker();
		  					fetchSummaryData( date, businessId );
		  					fetchChartingData( date, businessId );
		  					constructCampaignTable( date, businessId );
		  					constructContentTable( date, businessId );
		  					constructUserTable( date, businessId );
		  				}
		  			});

		  			$('#to').datepicker({
		  				maxDate:0,
		  				onSelect: function( selectedDate ) {
		  					$( "#from" ).datepicker( "option", "maxDate", selectedDate );
		  					$('.subsequent-loading-img').show();
		  					toggleTableState(); 

		  					var date = getDateFromDatepicker();
		  					fetchSummaryData( date, businessId );
		  					fetchChartingData( date, businessId );
		  					constructCampaignTable( date, businessId );
		  					constructContentTable( date, businessId );
		  					constructUserTable( date, businessId );
		  				}
		  			});

		  			//Pre-setting default date - 30 days
					var last30Days = new Date(), currentDay = new Date();
					var info = {
						s : new Date(last30Days.setDate(last30Days.getDate()-30)),
						e : currentDay
					}
		  			setDateForDatepicker( info );

		  			$(".subsequent-loading-img").hide();

		  			$("#summaryTab, #chartTab, #dayBtn, #campaignTableTab").addClass('active');

			  		//Initialize Summary Screen
			  		// fetchSummaryData( info, businessId );

			  		//Initialize Charts/Graphs
			  		// fetchChartingData( info, businessId );
			  		test( info, businessId ); 
	  				//Initialize Tables
	  				// constructCampaignTable( info, businessId );
	  				// constructContentTable( info, businessId );
	  				// constructUserTable( info, businessId );

	  				//Initialize Tooltips
	  				// initiateTooltips();

	  			}

	  			/***************************** EXPERIMENT / TESTING ********************************/

	  			function test ( date, bizId ) {

	  				var inputDate = parseDate( "input", date );
	  				var url = "http://betabiz.newzsocial.com/nscon/data/GetDailyStream";

	  				$.ajax({
	  					url : url,
	  					type : "GET",
	  					data : {
	  						businessId 	: bizId,
	  						startDate 	: inputDate.s,
	  						endDate 	: inputDate.e
	  					},
	  					success : function ( response ) {
	  						if ( response.status ) {

	  							var clicks = [], shares = [], likes = [], comments = [], posts = [],
	  								interactions = [];

	  							for ( var i = 1; i < response.data.stream.length; i++ ) {
	  								var dailyStream = response.data.stream;

	  								// dates.push( dailyStream[i][0] );
	  								posts.push( dailyStream[i][1] );
	  								clicks.push( dailyStream[i][2] );
	  								likes.push( dailyStream[i][3] );
	  								shares.push( dailyStream[i][4] );
	  								comments.push( dailyStream[i][5] );

	  								var tmp = dailyStream[i][2] + dailyStream[i][3] + dailyStream[i][4] + dailyStream[i][5];
	  								interactions.push( tmp );

	  							}

	  							inputDate = parseDate( "unixTS", inputDate );
								testingChart( inputDate, posts, clicks, shares, likes, comments, interactions);


	  						}
	  						else {
	  							console.log("GetBusinessOverview API failure, return status false: ", url);
	  						}
	  					},
	  					error : function () {
	  						console.log("GetBusinessOverview API failure, server error"); 
	  					}
	  				});

	  				function testingChart ( dates, posts, clicks, shares, likes, comments, interactions ) {

		  				$('#drilldownchart').highcharts({
				            chart: {
				            	style: {
				            		cursor: 'crosshair'
				            	},
				            	defaultSeriesType: 'scatter',
				            	events: {
				            	 	selection: function( event ) {

				            	 		event.preventDefault();

				            	 		for ( var i = 0; i < this.series[0].data.length; i++ ) {
				            	 			this.series[0].data[i].select( false, true );
				            	 			this.series[1].data[i].select( false, true );
				            	 		}
				            	 		var specialAgent = [];
				            	 		for ( var i = 0; i < this.series[0].data.length; i++ ) {

				            	 			var point1 = this.series[0].data[i], 	//post column series
				            	 				point2 = this.series[1].data[i]; 	//interaction line series

				            	 			var xAxisMax = event.xAxis[0].max, xAxisMin = event.xAxis[0].min,
				            	 				yAxisMax1 = event.yAxis[1].max, yAxisMin1 = event.yAxis[1].min, //post column series
				            	 				yAxisMax2 = event.yAxis[0].max, yAxisMin2 = event.yAxis[0].min; //interaction line series

				            	 			if ( point1.x > xAxisMin && point1.x < xAxisMax &&
				            	 				point1.y > yAxisMin1 && point1.y < yAxisMax1 ) 
				            	 			{
				            	 				point1.select( true, true );
				            	 				point2.select( true, true );
				            	 				console.log(i);
				            	 				specialAgent.push(i);
				            	 			}

				            	 			if ( !point1.selected ) {
				            	 				if ( point2.x > xAxisMin && point2.x < xAxisMax &&
				            	 					point2.y > yAxisMin2 && point2.y < yAxisMax2 )
				            	 				{
				            	 					point1.select( true, true );
				            	 					point2.select( true, true );
				            	 					specialAgent.push(i);
				            	 				}
				            	 				
				            	 			}
				            	 		}
				            	 		var chart = $('#drilldownchart').highcharts(),
				            	 			selectedPoints = chart.getSelectedPoints();

				            	 		buildingCustomizedTable( selectedPoints, specialAgent, clicks, shares, likes, comments );

				            		}
				            	},
				            	zoomType: 'xy'
				            },
				            title: {
				                text: null
				            },
				            xAxis: {
				            	type: 'datetime',
				            	labels: {
				            		formatter: function () {
				            			var tmp = $.datepicker.parseDate("@", this.value);
				            			var d = $.datepicker.formatDate("dd M", tmp);
			            				return d;
				            		}
				            	}			                
				            },
				            yAxis: [{ // Primary yAxis
				            			min: 0,
				            			gridLineColor: 'rgba(0,0,0,.05)',
						                title: {
						                    text: 'Interactions',
						                    style: {
						                        color: '#89A54E'
						                    }
						                },
						                label: {
						                	style: {
						                		color: '#30cd72'
						                	}
						                }
				            		}, { // Secondary yAxis
				            			min: 0,
						                title: {
						                    text: 'Posts',
						                    style: {
						                        color: '#4572A7'
						                    }
						                },
						                opposite: true,
						                gridLineColor: 'rgba(0,0,0,.05)'
						            }],
				            tooltip: {
				            	xDateFormat: '%A, %b %d, %Y',
				            	shared: true
				            },
				            plotOptions: {
				            	// series: {
				            	// 	cursor: 'crosshair',
				            	// 	allowPointSelect: true,
				            	// 	point: {
				            	// 		events: {
				            	// 			select: function() {
				            	// 				console.log(this);
				            	// 			}
				            	// 		}
				            	// 	}
				            	// }
				            },
				            exporting: {
				            	enabled: false
				            },
				            series: [{
				            	pointInterval: 24 * 3600 * 1000,
				            	pointStart: dates.s,
				                type: 'column',
				                name: 'Posts',
				                yAxis: 1,
				                data: posts,
				                color: '#bdc3c7'
				            }, {
				            	pointInterval: 24 * 3600 * 1000,
				            	pointStart: dates.s,
				                type: 'line',
				                name: 'Interactions',
				                data: interactions,
				                color: '#3498db'
				            }]
				        });
					}

					function buildingCustomizedTable ( array, index, clicks, shares, likes, comments ) {

						var arrayCount = (array.length) / 2,
							postArray = [], interactionArray = [], tooltipArray = [];
							
							var tooltipOptions = {
								"show"		: true,
								"placement"	: "top", 
								"trigger"	: "hover",
								"delay"		: { show: 500, hide: 100 },
								"container" : "body"
							}


						for ( var i = 0; i < array.length; i++ ) {
							if ( i < arrayCount ) postArray.push( array[i] );
							else interactionArray.push( array[i] );
						}

						for ( var k = 0; k < arrayCount; k++ ) {
							var tmp = "clicks: " + clicks[index[k]] + " shares: " + shares[index[k]] + " likes: " + likes[index[k]] + " comments: " + comments[index[k]];
							tooltipArray.push(tmp);
						}

						var t = "";
						for ( var j = 0; j < arrayCount; j++ ) {
							
							t += "<tr>";
							t += "<td>" + postArray[j].y + "</td>";
							t += "<td id='index" + j + "'>" + interactionArray[j].y + "</td>";
							t += "</tr>";
						}
						$('#testTableBody').html(t);

						for ( var z = 0; z < arrayCount; z++ ) {
							tooltipOptions.title = tooltipArray[z];
							$('#index' + z + '').tooltip( tooltipOptions );
						}

					}
				}


	  			/****************************** GENERAL FUNCTIONS ********************************/

	  			function setDateForDatepicker ( date ) {

	  				$( "#from" ).datepicker( "setDate", date.s );
	  				$( "#to" ).datepicker( "setDate", date.e );
	  			
	  			}

	  			function getDateFromDatepicker () {

	  				var date = {};
	  				date = {
	  					s : $("#from").datepicker("getDate"),
	  					e : $("#to").datepicker("getDate")
	  				}

	  				return date;
	  			}

	  			//Change date format
	  			function parseDate ( type, date ) {

	  				switch ( type ) {

	  					case "input" : //Convert input date to APIs' date format

	  						var parsedDate = {};
		  					parsedDate.s = $.datepicker.formatDate("yymmdd", date.s); //20140215, 20140216, 20140217 
		  					parsedDate.e = $.datepicker.formatDate("yymmdd", date.e);
		  					return parsedDate;

	  					break; 

	  					case "output" : //Convert output date to different form

	  						var parsedDate = [];

	  						for ( var i = 0; i < date.length; i++ ) {
	  							var tmp = $.datepicker.parseDate("yymmdd",date[i]);
	  							parsedDate[i] = $.datepicker.formatDate("@", tmp); //unix timestamp
	  							parsedDate[i] = +parsedDate[i]; //converting number string to integer (highchart format)
	  						}
		  					return parsedDate;

	  					break;

	  					case "unixTS" :

	  						var parsedDate = {};
	  						parsedDate.s = $.datepicker.parseDate("yymmdd", date.s);
	  						parsedDate.e = $.datepicker.parseDate("yymmdd", date.e);
		  					parsedDate.s = $.datepicker.formatDate("@", parsedDate.s);
		  					parsedDate.e = $.datepicker.formatDate("@", parsedDate.e);
		  					parsedDate.s = +parsedDate.s;
		  					parsedDate.e = +parsedDate.e;
		  					return parsedDate;

	  					break;
	  				}
	  			}

	  			//Add commas for numbers that have more than 4 intergers
	  			function addCommas ( nStr ) {

	  				nStr += '';
	  				x = nStr.split('.');
	  				x1 = x[0];
	  				x2 = x.length > 1 ? '.' + x[1] : '';
	  				var rgx = /(\d+)(\d{3})/;
	  				while (rgx.test(x1)) {
	  					x1 = x1.replace(rgx, '$1' + ',' + '$2');
	  				}
	  				return x1 + x2;
	  			}

	  			function initiateTooltips () {
					console.log("inside", ttPosts, ttClicks);
					var tooltipOptions = {
						"show"		: true,
						"placement"	: "top", 
						"trigger"	: "hover",
						"delay"		: { show: 500, hide: 100 },
						"container" : "body"
					}

					var dom = document.querySelectorAll('[data-tt]');

					for ( var i = 0; i < dom.length; i++ ) {

						switch ( dom[i].getAttribute("data-tt") ) {
						case "post" : tooltipOptions.title = ttPosts;
						break 
						case "user" : tooltipOptions.title = ttUsers;
						break 
						case "click" : tooltipOptions.title = ttClicks;
						break 
						case "clickRate" : tooltipOptions.title = ttClickRate;
						break 
						case "interaction" : tooltipOptions.title = ttInteractions;
						break 
						case "destination" : tooltipOptions.title = ttDestination;
						break 
						case "socialNetwork" : tooltipOptions.title = ttSocialNetwork;
						break 
						case "title" : tooltipOptions.title = ttTitle;
						break 
						case "share" : tooltipOptions.title = ttShares;
						break 
						case "ampRate" : tooltipOptions.title = ttAmpRate;
						break 
						case "like" : tooltipOptions.title = ttLikes;
						break 
						case "appRate" : tooltipOptions.title = ttAppRate;
						break 
						case "comment" : tooltipOptions.title = ttComments;
						break 
						case "convRate" : tooltipOptions.title = ttConvRate;
						break

						} 
						$(dom[i]).tooltip( tooltipOptions );
					}
				}

	  			function toggleTableState () {
					$('#campaignTableContainer, #socialNetworkTableContainer, #contentTableContainer, #userTableContainer')
					.attr("data-custom-state", "update");
				}

	  			/************************************* SUMMARY SCREEN FUNCTIONS ****************************/

	  			function fetchSummaryData ( date, businessId ) {	//Constructing activity and impact summary window

					var inputDate = parseDate( "input", date );

	  				var url = "http://betabiz.newzsocial.com/nscon/data/GetBusinessOverview?businessId=" + businessId + "&";
	  				url += "startDate=" + inputDate.s + "&endDate=" + inputDate.e

	  				$.ajax({
	  					url 	: url, 
	  					type 	: "GET",
	  					success : function ( response ) {

	  						//pass the same data to construct Social Network Table
	  						constructSocialNetworkTable( response );

	  						if ( response.status ) {

	  							var previousStream, currentStream, previousTotalStream, currentTotalStream, previousUser, currentUser,
	  								pPosts = [], pUsers = [], pClicks = [], pClickrate = [], pInteractions = []; //Sparkline-piechart variables declaration

	  							previousStream = response.data.previous.stream;
	  							currentStream = response.data.current.stream;

	  							previousTotalStream  = previousStream[1];
	  							currentTotalStream = currentStream[1];

	  							previousUser = response.data.previous.users; 
	  							currentUser = response.data.current.users;

	  							//Sparkline-piechart tooltips defination
	  							pUsers[0] = [['Active Users'],['Inactive Users']];
	  							pUsers[1] = [ currentUser.active, (currentUser.total - currentUser.active) ];

	  							var tmp = [['Twitter'],['Facebook'],['LinkedIn']];
	  							pPosts[0] = tmp;
	  							pClicks[0] = tmp;
	  							pClickrate[0] = tmp;
	  							pInteractions[0] = tmp;

	  							pPosts[1] = []; 
	  							pClicks[1] = [], 
	  							pClickrate[1] = [], 
	  							pInteractions[1] = [];

	  							//Constructing sparkline-piechart data input
	  							for ( var i = 2; i < 5; i++ ) {

	  								switch ( currentStream[i][0] ) {

	  									case 3:

	  									pPosts[1][0] = currentStream[i][2];
	  									pClicks[1][0] = currentStream[i][3];
	  									pInteractions[1][0] = currentStream[i][3] + currentStream[i][4] + currentStream[i][5] + currentStream[i][6];

	  									//Post can't be zero. If click == 0 -> click rate == 0. 
	  									if ( pClicks[1][0] == 0 ) pClickrate[1][0] = 0;
	  									else if ( pPosts[1][0] == 0 ) pClickrate[1][0] = pClicks[1][0] //Clicks coming from old posts 
	  									else pClickrate[1][0] = ( pClicks[1][0] / pPosts[1][0] );
	  									
	  									break;

	  									case 2:

		  									pPosts[1][1] = currentStream[i][2];
		  									pClicks[1][1] = currentStream[i][3];
		  									pInteractions[1][1] = currentStream[i][3] + currentStream[i][4] + currentStream[i][5] + currentStream[i][6];

		  									if ( pClicks[1][1] == 0 ) pClickrate[1][1] = 0;
		  									else if ( pPosts[1][1] == 0 ) pClickrate[1][1] = pClicks[1][1] //Clicks coming from old posts
		  									else pClickrate[1][1] = ( pClicks[1][1] / pPosts[1][1] );
	
	  									break;



	  									case 4:
		  								
		  									pPosts[1][2] = currentStream[i][2];
		  									pClicks[1][2] = currentStream[i][3];
		  									pInteractions[1][2] = currentStream[i][3] + currentStream[i][4] + currentStream[i][5] + currentStream[i][6];

		  									if ( pClicks[1][2] == 0 ) pClickrate[1][2] = 0;
		  									else if ( pPosts[1][2] == 0 ) pClickrate[1][2] = pClicks[1][2] //Clicks coming from old posts
		  									else pClickrate[1][2] = ( pClicks[1][2] / pPosts[1][2] );
	  									
	  									break;

	  								}

	  							}

	  							// console.log(pPosts, pUsers, pClicks, pClickrate, pInteractions);
	  							constructSparklinePiechart( pPosts, pUsers, pClicks, pClickrate, pInteractions );
	  							displaySummaryWindow( previousTotalStream, currentTotalStream, previousUser, currentUser );
	  							
							}
							else {
								//return status = false
								console.log(url);
								console.log("GetBusinessOverview API failture, return status false");
							}
	  					},
 	  					error 	: function () {
 	  						//server error
 	  						console.log("GetBusinessOverview API failure, server error");
	  					}
	  				});
	  			}

	  			function displaySummaryWindow ( previousTotalStream, currentTotalStream, previousUser, currentUser ) {

	  				//Posts Metrics
	  				var prevPost = previousTotalStream[2],
	  					prevClick = previousTotalStream[3],
	  					curPost = currentTotalStream[2],
	  					curClick = currentTotalStream[3],
	  					prevTotalInteraction = previousTotalStream[3] + previousTotalStream[4] + previousTotalStream[5] + previousTotalStream[6],
	  					curTotalInteraction = currentTotalStream[3] + currentTotalStream[4] + currentTotalStream[5] + currentTotalStream[6];

	  				//Users Metrics
	  				var prevActiveUser = previousUser.active,
	  					curActiveUser = currentUser.active;

	  				if ( prevClick == 0 ) var prevClickRate = 0;
	  				else if ( prevPost == 0 ) var prevClickRate = prevClick; //TEMPORARY, for clicks coming from old posts 
	  				else var prevClickRate = ( prevClick / prevPost );

	  				if ( curClick == 0 ) var curClickRate = 0;
	  				else if ( curPost == 0 ) var curClickRate = curClick; //TEMPORARY, for clicks coming from old posts 
	  				else var curClickRate = (curClick / curPost );

	  				$('#postPercentage').html( addCommas( getPercentageDifference( curPost, prevPost ) ) );
					$('#userPercentage').html( addCommas( getPercentageDifference( curActiveUser, prevActiveUser) ) );
					$('#clickPercentage').html( addCommas( getPercentageDifference( curClick, prevClick ) ) );
					$('#clickRatePercentage').html( addCommas( getPercentageDifference( curClickRate, prevClickRate ) ) );
					$('#interactionPercentage').html( addCommas( getPercentageDifference( curTotalInteraction, prevTotalInteraction ) ) );

					curPost = addCommas( curPost );
					curClick = addCommas( curClick );
					curClickRate = addCommas( curClickRate.toFixed(2) );
					curTotalInteraction = addCommas( curTotalInteraction );

					$('#postCount').text( curPost );
					$('#userCount').text( currentUser.active + "/" + currentUser.total);
					$('#clickCount').text( curClick );
					$('#clickRateCount').text( curClickRate );
					$('#interactionCount').text( curTotalInteraction );

	  			}

	  			function getPercentageDifference ( current, previous ) {
	  				var html, value;

	  				// console.log(current,previous);

	  				if ( current > previous ) {

	  					if( previous != 0 ) {
	  						value = ( current - previous ) / previous * 100;
	  						value = value.toFixed(2);
	  						html = '<span class="percentage up"><i class="fa fa-arrow-up">' + value + '%</i></span>';
	  					}
	  					else html = '<span class="percentage">--</span>'; //previously data is "zero"

	  				} 
	  				else if ( previous > current ) {

	  					if ( current != 0 ) {
	  						value = ( previous - current ) / previous * 100;
	  						value = value.toFixed(2);
	  						html = '<span class="percentage down"><i class="fa fa-arrow-down">' + value + '%</i></span>';
	  					}
	  					else html = '<span class="percentage down"><i class="fa fa-arrow-down">100%</i></span>'; //current data is "zero"

	  				}
	  				else {
	  					//previous == current -> no difference.
	  					html = '<span class="percentage up">--</span>';
	  				}
	  				
	  				return html;
	  			}

	  			function constructSparklinePiechart ( val1, val2, val3, val4, val5 ) {
	  				// console.log(val1, val2, val3, val4, val5)

	  				$('.piechart1').sparkline( val1[1], {
	  					type 	: 'pie',
	  					width 	: '50px',
	  					height	: '25px',
	  					sliceColors: ['#377eb8', '#e41a1c', '#4daf4a'],
	  					tooltipFormat: '{{offset:slice}}: {{percent.1}}%',
	  					tooltipValueLookups: {
	  						'slice': val1[0]
	  					}
	  				});

	  				$('.piechart2').sparkline( val2[1], {
	  					type 	: 'pie',
	  					width 	: '50px',
	  					height	: '25px',
	  					sliceColors: ['#e6550d', '#a63603'],
	  					tooltipFormat: '{{offset:slice}}: {{percent.1}}%',
	  					tooltipValueLookups: {
	  						'slice': val2[0]
	  					},

	  				});

	  				$('.piechart3').sparkline( val3[1], {
	  					type 	: 'pie',
	  					width 	: '50px',
	  					height	: '25px',
	  					sliceColors: ['#377eb8', '#e41a1c', '#4daf4a'],
	  					tooltipFormat: '{{offset:slice}}: {{percent.1}}%',
	  					tooltipValueLookups: {
	  						'slice': val3[0]
	  					}
	  				});

	  				$('.piechart4').sparkline( val4[1], {
	  					type 	: 'pie',
	  					width 	: '50px',
	  					height	: '25px',
	  					sliceColors: ['#377eb8', '#e41a1c', '#4daf4a'],
	  					tooltipFormat: '{{offset:slice}}: {{percent.1}}%',
	  					tooltipValueLookups: {
	  						'slice': val4[0]
	  					}
	  				});

	  				$('.piechart5').sparkline( val5[1], {
	  					type 	: 'pie',
	  					width 	: '50px',
	  					height	: '25px',
	  					sliceColors: ['#377eb8', '#e41a1c', '#4daf4a'],
	  					tooltipFormat: '{{offset:slice}}: {{percent.1}}%',
	  					tooltipValueLookups: {
	  						'slice': val5[0]
	  					}
	  				});

	  			}

	  			/************************************ CHARTING FUNCTIONS ***********************************/

	  			function fetchChartingData ( date, businessId ) {	//Charting daily line chart and column chart

	  				var inputDate = parseDate( "input", date );
	  				
	  				var url = "http://betabiz.newzsocial.com/nscon/data/GetDailyStream?businessId=" + businessId + "&";
	  				url += "startDate=" + inputDate.s + "&endDate=" + inputDate.e

	  				$.ajax({
	  					url 	: url, 
	  					type 	: "GET",
	  					success : function ( response ) {
	  						if ( response.status ) {
	  							// var dates = [], clicks = [], shares = [], likes = [], comments = [], posts = [];
	  							var clicks = [], shares = [], likes = [], comments = [], posts = [];

	  							for ( var i = 1; i < response.data.stream.length; i++ ) {
	  								var dailyStream = response.data.stream;

	  								// dates.push( dailyStream[i][0] );
	  								posts.push( dailyStream[i][1] );
	  								clicks.push( dailyStream[i][2] );
	  								likes.push( dailyStream[i][3] );
	  								shares.push( dailyStream[i][4] );
	  								comments.push( dailyStream[i][5] );
	  							}
	  							
	  							// dates = parseDate( "output", dates );
	  							inputDate = parseDate( "unixTS", inputDate );

	  							// constructCombineChart( dates, posts, clicks, shares, likes,comments);
	  							constructCombineChart( inputDate, posts, clicks, shares, likes,comments);
  							}
  							else {
	  							//return status = false
	  							console.log(url);
	  							console.log("GetDailyStream API failture, return status false");
	  						}
	  					},
	  					error 	: function () {
 	  						//server error
 	  						console.log("GetDailyStream API failure, server error");
 	  					}
 	  				});
	  			}

	  			// HighChart default color --> http://jsfiddle.net/JfVHr/1/
	  			function constructCombineChart ( dates, posts, clicks, shares, likes, comments ) {

	  				 $('#combinechart').highcharts({
			            chart: {
			            },
			            title: {
			                text: null
			            },
			            xAxis: {
			            	type: 'datetime',
			            	labels: {
			            		formatter: function () {
			            			var tmp = $.datepicker.parseDate("@", this.value);
			            			var d = $.datepicker.formatDate("dd M", tmp);
		            				return d;
			            		}
			            	}			                
			            },
			            yAxis: [{ // Primary yAxis
			            			min: 0,
			            			gridLineColor: 'rgba(0,0,0,.05)',
					                title: {
					                    text: 'Interactions',
					                    style: {
					                        color: '#89A54E'
					                    }
					                },
					                label: {
					                	style: {
					                		color: '#30cd72'
					                	}
					                }
			            		}, { // Secondary yAxis
			            			min: 0,
					                title: {
					                    text: 'Posts',
					                    style: {
					                        color: '#4572A7'
					                    }
					                },
					                opposite: true,
					                gridLineColor: 'rgba(0,0,0,.05)'
					            }],
			            tooltip: {
			            	xDateFormat: '%A, %b %d, %Y',
			            	shared: true
			            },
			            exporting: {
			            	enabled: false
			            },
			            series: [{
			            	pointInterval: 24 * 3600 * 1000,
			            	pointStart: dates.s,
			                type: 'column',
			                name: 'Posts',
			                yAxis: 1,
			                data: posts,
			                color: '#bdc3c7'
			            }, {
			            	pointInterval: 24 * 3600 * 1000,
			            	pointStart: dates.s,
			                type: 'line',
			                name: 'Clicks',
			                data: clicks,
			                color: '#3498db'
			                // marker: {
			                // 	lineWidth: 2,
			                // 	lineColor: Highcharts.getOptions().colors[3],
			                // 	fillColor: 'white'
			                // }
			            }, {
			            	pointInterval: 24 * 3600 * 1000,
			            	pointStart: dates.s,
			                type: 'line',
			                name: 'Shares',
			                data: shares,
			                color: '#f1c40f',
			            }, {
			            	pointInterval: 24 * 3600 * 1000,
			            	pointStart: dates.s,
			                type: 'line',
			                name: 'Likes',
			                data: likes,
			                color: '#e74c3c',
			            }, {
			            	pointInterval: 24 * 3600 * 1000,
			            	pointStart: dates.s,
			                type: 'line',
			                name: 'Comments',
			                data: comments,
			                color: '#34495e'
			            }]
			        });
					
					$(".subsequent-loading-img").hide();
					$('.first-loading-img').hide() //Campaign table is default table, hide loading img

	  			}

	  			/************************************* TABLES FUNCTIONS *************************************/

	  			function constructCampaignTable ( date, businessId ) {

	  				var inputDate = parseDate( "input", date );

	  				var url = "http://betabiz.newzsocial.com/nscon/data/GetCampaignStream?businessId=" + businessId + "&";
	  				url += "startDate=" + inputDate.s + "&endDate=" + inputDate.e

	  				$.ajax({
	  					url 	: url, 
	  					type 	: "GET",
	  					success : function ( response ) {
	  						if ( response.status ) {
	  							var stream, campaignArray = [], destination = [],
	  								posts = [], clicks = [], likes = [], shares = [], comments = [],
	  								cRate = [], ampRate = [], appRate = [], convRate = [];

	  							stream = response.data.stream;

  								for ( var i = 1; i < stream.length; i++ ) {

  									destination.push("N.A");
  									campaignArray.push(stream[i][1]);
  									posts.push( stream[i][2] );
  									clicks.push( stream[i][3] );
  									likes.push( stream[i][4] );
  									shares.push( stream[i][5] );
  									comments.push( stream[i][6] );

  								}

  								for( var i = 0; i < posts.length; i++ ) {

  									if ( posts[i] !== 0 ) {
  										cRate.push( (clicks[i] / posts[i]).toFixed(2));
  										ampRate.push( (shares[i] / posts[i]).toFixed(2));
  										appRate.push( (likes[i] / posts[i]).toFixed(2));
  										convRate.push( (comments[i] / posts[i]).toFixed(2));	
  									}
  									else {
  										cRate.push("N.A");
  										ampRate.push("N.A");
  										appRate.push("N.A");
  										convRate.push("N.A");	
  									}

  								}

  								var t = "";

  								for ( var i = 0; i < campaignArray.length; i++ ) {

  									t += "<tr>";
  									t += "<td>" + campaignArray[i] + "</td>";
  									t += "<td>" + destination[i] + "</td>";
  									t += "<td>" + addCommas( posts[i] ) + "</td>";
  									t += "<td>" + addCommas( clicks[i] ) + "</td>";
  									t += "<td>" + addCommas( likes[i] ) + "</td>";
  									t += "<td>" + addCommas( shares[i] ) + "</td>";
  									t += "<td>" + addCommas( comments[i] ) + "</td>";
  									t += "<td>" + addCommas( cRate[i] ) + "</td>";
  									t += "<td>" + addCommas( appRate[i] ) + "</td>";
  									t += "<td>" + addCommas( ampRate[i] ) + "</td>";
  									t += "<td>" + addCommas( convRate[i] ) + "</td>";
  									t += "</tr>";
  								}

  								$('#campaignTable > tbody').html(t);

  								if( $('#campaignTableContainer').attr('data-custom-state') == "default" ) {
  									$('#campaignTableContainer').show();
  									initiateTablesorter( "campaign" );
  								}
  								else {
  									$('#campaignTable').trigger('update');
  								}

  							}
  							else {
	  							//return status = false
	  							console.log(url);
	  							console.log("GetCampaignStream API failture, return status false");
	  						}
	  					},
	  					error 	: function () {
 	  						//server error
 	  						console.log("GetCampaignStream API failure, server error");
 	  					}
 	  				});
	  			}

	  			function constructSocialNetworkTable ( response ) {

	  				var currentStream, socialMediaArray = ['Twitter', 'Facebook', 'LinkedIn']
	  				posts = [], clicks = [], likes = [], shares = [], comments = [],
	  				cRate = [], ampRate = [], appRate = [], convRate = [];

	  				facebookStream = response.data.current.stream[2];
	  				linkedinStream = response.data.current.stream[3];
	  				twitterStream = response.data.current.stream[4];

	  				posts.push(twitterStream[2]);
	  				clicks.push(twitterStream[3]);
	  				likes.push(twitterStream[4]);
	  				shares.push(twitterStream[5]);
	  				comments.push(twitterStream[6]);

	  				posts.push(facebookStream[2]);
	  				clicks.push(facebookStream[3]);
	  				likes.push(facebookStream[4]);
	  				shares.push(facebookStream[5]);
	  				comments.push(facebookStream[6]);

	  				posts.push(linkedinStream[2]);
	  				clicks.push(linkedinStream[3]);
	  				likes.push(linkedinStream[4]);
	  				shares.push(linkedinStream[5]);
	  				comments.push(linkedinStream[6]);

	  				for( var i = 0; i < posts.length; i++ ) {
	  					if ( posts[i] !== 0 ) {
	  						cRate.push( (clicks[i] / posts[i]).toFixed(2));
	  						ampRate.push( (shares[i] / posts[i]).toFixed(2));
	  						appRate.push( (likes[i] / posts[i]).toFixed(2));
	  						convRate.push( (comments[i] / posts[i]).toFixed(2));	
	  					}
	  					else {
	  						cRate.push("N.A");
	  						ampRate.push("N.A");
	  						appRate.push("N.A");
	  						convRate.push("N.A");	
	  					}

	  				}

	  				var t = "";

	  				for ( var i = 0; i < 3; i++ ) {

	  					t += "<tr>";
	  					t += "<td>" + socialMediaArray[i] + "</td>";
	  					t += "<td>" + addCommas( posts[i] ) + "</td>";
	  					t += "<td>" + addCommas( clicks[i] ) + "</td>";
	  					t += "<td>" + addCommas( likes[i] ) + "</td>";
	  					t += "<td>" + addCommas( shares[i] ) + "</td>";
	  					t += "<td>" + addCommas( comments[i] ) + "</td>";
	  					t += "<td>" + addCommas( cRate[i] ) + "</td>";
	  					t += "<td>" + addCommas( appRate[i] ) + "</td>";
	  					t += "<td>" + addCommas( ampRate[i] ) + "</td>";
	  					t += "<td>" + addCommas( convRate[i] ) + "</td>";
	  					t += "</tr>";
	  				}

	  				$('#socialNetworkTable > tbody').html(t);


	  				if( $('#socialNetworkTableContainer').attr('data-custom-state') == "default" ) initiateTablesorter( "socialNetwork" );
	  				else $('#socialNetworkTable').trigger('update');

	  			}

	  			function constructContentTable ( date, businessId ) {

	  				var inputDate = parseDate( "input", date );

	  				var url = "http://betabiz.newzsocial.com/nscon/data/GetPostStream?businessId=" + businessId + "&";
	  				url += "startDate=" + inputDate.s + "&endDate=" + inputDate.e

	  				$.ajax({
	  					url 	: url, 
	  					type 	: "GET",
	  					success : function ( response ) {
	  						if ( response.status ) {
	  							var stream, postArray = [],
	  								clicks = [], likes = [], shares = [], comments = [],
	  								cRate = [], ampRate = [], appRate = [], convRate = [];

	  							stream = response.data.stream;

  								for ( var i = 1; i < stream.length; i++ ) {

  									postArray.push(stream[i][1]);
  									clicks.push(stream[i][3]);
  									likes.push(stream[i][4]);
  									shares.push(stream[i][5]);
  									comments.push(stream[i][6]);

  								}

  								for( var i = 0; i < postArray.length; i++ ) {

  									// if ( posts[i] !== 0 ) {
  										cRate.push("N.A");
  										ampRate.push("N.A");
  										appRate.push("N.A");
  										convRate.push("N.A");	
  										// cRate.push( (clicks[i] / posts[i]).toFixed(2));
  										// ampRate.push( (shares[i] / posts[i]).toFixed(2));
  										// appRate.push( (likes[i] / posts[i]).toFixed(2));
  										// convRate.push( (comments[i] / posts[i]).toFixed(2));	
  									// }
  									// else {
  									// 	cRate.push("N.A");
  									// 	ampRate.push("N.A");
  									// 	appRate.push("N.A");
  									// 	convRate.push("N.A");	
  									// }

  								}

  								var t = "";

  								for ( var i = 0; i < postArray.length; i++ ) {

  									t += "<tr>";
  									t += "<td>" + postArray[i] + "</td>";
  									// t += "<td>" + addCommas( posts[i] ) + "</td>";
  									t += "<td>" + addCommas( clicks[i] ) + "</td>";
  									t += "<td>" + addCommas( likes[i] ) + "</td>";
  									t += "<td>" + addCommas( shares[i] ) + "</td>";
  									t += "<td>" + addCommas( comments[i] ) + "</td>";
  									t += "<td>" + addCommas( cRate[i] ) + "</td>";
  									t += "<td>" + addCommas( appRate[i] ) + "</td>";
  									t += "<td>" + addCommas( ampRate[i] ) + "</td>";
  									t += "<td>" + addCommas( convRate[i] ) + "</td>";
  									t += "</tr>";
  								}

  								$('#contentTable > tbody').html(t);

  								if( $('#contentTableContainer').attr('data-custom-state') == "default" ) initiateTablesorter( "content" );
  								else $('#contentTable').trigger('update');

  							}
  							else {
	  							//return status = false
	  							console.log(url);
	  							console.log("GetPostStream API failture, return status false");
	  						}
	  					},
	  					error 	: function () {
 	  						//server error
 	  						console.log("GetPostStream API failure, server error");
 	  					}
 	  				});
	  			}

	  			function constructUserTable ( date, businessId ) {

	  				var inputDate = parseDate( "input", date );

	  				var url = "http://betabiz.newzsocial.com/nscon/data/GetUserStream?businessId=" + businessId + "&";
	  				url += "startDate=" + inputDate.s + "&endDate=" + inputDate.e

	  				$.ajax({
	  					url 	: url, 
	  					type 	: "GET",
	  					success : function ( response ) {
	  						if ( response.status ) {
	  							
	  							var stream, userArray = [],
	  								posts = [], clicks = [], likes = [], shares = [], comments = [],
	  								cRate = [], ampRate = [], appRate = [], convRate = [];

	  							stream = response.data.stream;

  								for ( var i = 1; i < stream.length; i++ ) {

  									userArray.push(stream[i][1]);
  									posts.push(stream[i][2]);
  									clicks.push(stream[i][3]);
  									likes.push(stream[i][4]);
  									shares.push(stream[i][5]);
  									comments.push(stream[i][6]);

  								}

  								for( var i = 0; i < posts.length; i++ ) {
  									
  									if ( posts[i] !== 0 ) {
  										cRate.push( (clicks[i] / posts[i]).toFixed(2));
  										ampRate.push( (shares[i] / posts[i]).toFixed(2));
  										appRate.push( (likes[i] / posts[i]).toFixed(2));
  										convRate.push( (comments[i] / posts[i]).toFixed(2));	
  									}
  									else {
  										cRate.push("N.A");
  										ampRate.push("N.A");
  										appRate.push("N.A");
  										convRate.push("N.A");	
  									}

  								}

  								var t = "";

  								for ( var i = 0; i < userArray.length; i++ ) {

  									t += "<tr>";
  									t += "<td>" + userArray[i] + "</td>";
  									t += "<td>" + addCommas( posts[i] ) + "</td>";
  									t += "<td>" + addCommas( clicks[i] ) + "</td>";
  									t += "<td>" + addCommas( likes[i] ) + "</td>";
  									t += "<td>" + addCommas( shares[i] ) + "</td>";
  									t += "<td>" + addCommas( comments[i] ) + "</td>";
  									t += "<td>" + addCommas( cRate[i] ) + "</td>";
  									t += "<td>" + addCommas( appRate[i] ) + "</td>";
  									t += "<td>" + addCommas( ampRate[i] ) + "</td>";
  									t += "<td>" + addCommas( convRate[i] ) + "</td>";
  									t += "</tr>"
  								}

  								$('#userTable > tbody').html(t);

  								
  								if( $('#userTableContainer').attr('data-custom-state') == "default" ) initiateTablesorter( "user" );
  								else $('#userTable').trigger('update');
  
  							}
  							else {
	  							//return status = false
	  							console.log(url);
	  							console.log("GetUserStream API failture, return status false");
	  						}
	  					},
	  					error 	: function () {
 	  						//server error
 	  						console.log("GetUserStream API failure, server error");
 	  					}
 	  				});
				}

				function initiateTablesorter ( type ) {

					var  table,
					option = {
						theme :  "bootstrap",
						showProcessing : true,
						headerTemplate : '{content} {icon}',
						widgets : ["uitheme", "zebra", "stickyHeaders"],
						// widgetOptions : {
						// 	stickyHeaders_attachTo: null
						// }
					}


					switch ( type ) {

						case "campaign" :
							// option.widgetOptions.stickyHeaders_attachTo = $('#campaignTableWrapper');
							table = "#campaignTable";
						break;
						case "socialNetwork" :
							// option.widgetOptions.stickyHeaders_attachTo = $('#socialNetworkTableWrapper');
							table = "#socialNetworkTable";
						break;
						case "content" :
							// option.widgetOptions.stickyHeaders_attachTo = $('#contentTableWrapper');
							table = "#contentTable";
						break;
						case "user":
							// option.widgetOptions.stickyHeaders_attachTo = $('#userTableWrapper');
							table = "#userTable";
						break;
					}

					$( table ).tablesorter( option );
				}

	  		});

	  	</script>

	</head>
	
	<body>



		<section class="header-section">
				
			<div class="select-date-container"> 

				<div class="select-date-column">
					<span class="datepicker-label">Performance Overview:</span>
				</div>

				<div class="select-date-column">
					<input id="from" type="text" class="datepicker">
				</div>

				<div class="select-date-column">
					<span class="datepicker-label">to</span>
				</div>

				<div class="select-date-column">
					<input id="to" type="text" class="datepicker">
				</div>

				<div class="select-date-column subsequent-loading-img">
					<span><img src="img/busy_gray_gray.gif"></span>
				</div>

			</div>	

		</section>

		<!-- <section class="summary-section">

			<div class="summary-container">

				<div class="tab-custom-container">
					<ul class="tab-custom-ul">
						<li id="summaryTab" class="summary-tab tab-custom-li tab-custom-left tab-custom-right">
							Summary Metrics
						</li>
					</ul>
				</div>

				<div class="summary-table-container">
					
					<table class="summary-table">
						
						<tbody>
							<tr>
								<td class="summary-col divider divider-left">
									
									<table class="panel-table">
										<tbody>
											<tr>
												<td class="col-left" data-tt="post">
													
													<div class="summary-col-left-top">Posts:</div>
													<div class="summary-col-left-btm">
														<div id="postCount"class="metric-display"></div>
														<div id="postPercentage" class="percentage-display"></div>
													</div>

												</td>
												<td class="col-right">
													
													<div class="summary-col-right">
														<div class="sparkline-piechart piechart-position">
															<span id="postPiechart" class="piechart1"><img src="img/busy_gray_gray.gif"></span>
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>									
									
								</td>

								<td class="summary-col divider">
									
									<table class="panel-table">
										<tbody>
											<tr>
												<td class="col-left" data-tt="user">
													
													<div class="summary-col-left-top">Active Users:</div>
													<div class="summary-col-left-btm">
														<div id="userCount" class="metric-display"></div>
														<div id="userPercentage" class="percentage-display"></div>
													</div>

												</td>
												<td class="col-right">
													
													<div class="summary-col-right">
														<div class="sparkline-piechart piechart-position">
															<span id="userPiechart" class="piechart2"><img src="img/busy_gray_gray.gif"></span>
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>									
									
								</td>

								<td class="summary-col divider">
									
									<table class="panel-table">
										<tbody>
											<tr>
												<td class="col-left" data-tt="click">
													
													<div class="summary-col-left-top">Clicks:</div>
													<div class="summary-col-left-btm">
														<div id="clickCount" class="metric-display"></div>
														<div id="clickPercentage" class="percentage-display"></div>
													</div>

												</td>
												<td class="col-right">
													
													<div class="summary-col-right">
														<div class="sparkline-piechart piechart-position">
															<span id="clickPiechart" class="piechart3"><img src="img/busy_gray_gray.gif"></span>
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>									
									
								</td>

								<td class="summary-col divider">
									
									<table class="panel-table">
										<tbody>
											<tr>
												<td class="col-left" data-tt="clickRate">
													
													<div class="summary-col-left-top">Click Rate:</div>
													<div class="summary-col-left-btm">
														<div id="clickRateCount" class="metric-display"></div>
														<div id="clickRatePercentage" class="percentage-display"></div>
													</div>

												</td>
												<td class="col-right">
													
													<div class="summary-col-right">
														<div class="sparkline-piechart piechart-position">
															<span id="clickRatePiechart" class="piechart4"><img src="img/busy_gray_gray.gif"></span>
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>									
									
								</td>

								<td class="summary-col divider">
									
									<table class="panel-table">
										<tbody>
											<tr>
												<td class="col-left" data-tt="interaction">
													
													<div class="summary-col-left-top">Interactions:</div>
													<div class="summary-col-left-btm">
														<div id="interactionCount" class="metric-display"></div>
														<div id="interactionPercentage" class="percentage-display"></div>
													</div>

												</td>
												<td class="col-right">
													
													<div class="summary-col-right">
														<div class="sparkline-piechart piechart-position">
															<span id="interactionPiechart" class="piechart5"><img src="img/busy_gray_gray.gif"></span>
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>									
									
								</td>

							</tr>
						</tbody>

					</table>

				</div>
				
			</div>

		</section> -->

		<section class="chart-section">

			<div class="tab-custom-container">
				<ul class="tab-custom-ul">
					<li id="chartTab" class="chart-tab tab-custom-li tab-custom-left tab-custom-right">
					Trend
					</li>
				</ul>
			</div>
				
			<div class="first-loading-img">
				<span><img src="img/busy_gray_gray.gif"></span>
			</div>

			<div class="charts-container">

				<!-- <div class="mode-btn">
					<button id="dayBtn" type="button" class="btn btn-default btn-custom btn-custom-top">Day</button>
					<button id="weekBtn" type="button" class="btn btn-default btn-custom">Week</button>
					<button id="monthBtn" type="button" class="btn btn-default btn-custom btn-custom-btm">Month</button>
				</div> -->
				
				<!-- <div id="combinechart" class="combinechart"></div> -->
				<div id="drilldownchart" class="combinechart"></div>

				<div id="testTableContainer">
					<table id="testTable">
						<thead id="testTableHeader">
							<tr>
								<th>Posts</th>
								<th>Interactions</th>
							</tr>
						</thead>
						<tbody id="testTableBody">
							
						</tbody>
					</table>
				</div>

			</div>

		</section>
		
		<section class="table-section">

<!-- 			<div class="tab-custom-container">
				<ul class="tab-custom-ul">
					<li id="campaignTableTab" class="table-tab tab-custom-li tab-custom-left">Campaigns</li
					><li id="socialNetworkTableTab" class="table-tab tab-custom-li">Social Networks</li
					><li id="contentTableTab" class="table-tab tab-custom-li">Top Content</li
					><li id="userTableTab" class="table-tab tab-custom-li tab-custom-right">Top Users</li>
				</ul>
			</div>

			<div class="first-loading-img">
				<span><img src="img/busy_gray_gray.gif"></span>
			</div> -->

			<div class="table-container">
				
<!-- 				<div id="campaignTableContainer" class="campaign-table-container hide" data-custom-state="default">
					
					<h5 class="inline">Campaign Performance Summary</h5>
					<div class="social-network-select-container">
						<span class="social-network-filter-label"> Social Network:</span>

						<select id="businessSelector" class="social-network-selector">
							<option value="1">All</option>
							<option value="2">Facebook</option>
							<option value="3">Twitter</option>
							<option value="4">LinkedIn</option>
						</select>

					</div>

					<div id="campaignTableWrapper" class="wrapper">

						<table id="campaignTable" class="table table-hover table-bordered">
							<thead>
								
								<tr class="table-table-header"> 
	  								<th colspan="1" rowspan="2" data-sorter="false">Campaign</th>
	  								<th class='m-width' colspan="1" rowspan="2" data-tt='destination' data-sorter="false">Destination</th>
	  								<th class='m-width' colspan="1" rowspan="2" data-tt='post'>Posts</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interactions</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interaction Rates</th>
	  							</tr>

								<tr class="table-table-header">
	  								<th class='m-width' data-tt='click'>Clicks</th>
	  								<th class='m-width' data-tt='like'>Likes + Favorites</th>
	  								<th class='m-width' data-tt='share'>Shares + Retweets</th>
	  								<th class='m-width' data-tt='comment'>Comments</th>
	  								
	  								<th class='m-width' data-tt='clickRate'>Click Rate</th>
	  								<th class='m-width' data-tt='appRate'>Applause Rate</th>
	  								<th class='m-width' data-tt='ampRate'>Amplification Rate</th>
	  								<th class='m-width' data-tt='convRate'>Conversation Rate</th>
	  							</tr>
								
							</thead>
							<tbody class="campaign-table-body table-table-body">

							</tbody>
						</table>

					</div>

				</div>
			
				<div id="socialNetworkTableContainer" class="social-network-table-container hide" data-custom-state="default">
					
					<h5>Social Network Performance Summary</h5>
					
					<div id="socialNetworkTableWrapper" class="wrapper">
					
						<table id="socialNetworkTable" class="table table-hover table-bordered">
							<thead>

				  				<tr class="table-table-header"> 
	  								<th colspan="1" rowspan="2" data-sorter="false">Social Network</th>
	  								<th class='m-width' colspan="1" rowspan="2" data-tt='post'>Posts</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interactions</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interaction Rates</th>
	  							</tr>

								<tr class="table-table-header">
	  								<th class='m-width' data-tt='click'>Clicks</th>
	  								<th class='m-width' data-tt='like'>Likes + Favorites</th>
	  								<th class='m-width' data-tt='share'>Shares + Retweets</th>
	  								<th class='m-width' data-tt='comment'>Comments</th>
	  								
	  								<th class='m-width' data-tt='clickRate'>Click Rate</th>
	  								<th class='m-width' data-tt='appRate'>Applause Rate</th>
	  								<th class='m-width' data-tt='ampRate'>Amplification Rate</th>
	  								<th class='m-width' data-tt='convRate'>Conversation Rate</th>
	  							</tr>
							
							</thead>
							<tbody class="social-network-table-body table-table-body">
								
							</tbody>
						</table>

					</div>

				</div> -->

				<div id="contentTableContainer" class="content-table-container hide" data-custom-state="default">
					
					<h5>Top Content Summary</h5>
					
					<div id="contentTableWrapper" class="wrapper">
					
						<table id="contentTable" class="table table-hover table-bordered">
							<thead>
								
	  							<tr class="table-table-header"> 
	  								<th colspan="1" rowspan="2" data-sorter="false">Title</th>
	  								<!-- <th class='m-width' colspan="1" rowspan="2" data-tt='post'>Posts</th> -->
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interactions</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interaction Rates</th>
	  							</tr>

								<tr class="table-table-header">
	  								<th class='m-width' data-tt='click'>Clicks</th>
	  								<th class='m-width' data-tt='like'>Likes + Favorites</th>
	  								<th class='m-width' data-tt='share'>Shares + Retweets</th>
	  								<th class='m-width' data-tt='comment'>Comments</th>
	  								
	  								<th class='m-width' data-tt='clickRate'>Click Rate</th>
	  								<th class='m-width' data-tt='appRate'>Applause Rate</th>
	  								<th class='m-width' data-tt='ampRate'>Amplification Rate</th>
	  								<th class='m-width' data-tt='convRate'>Conversation Rate</th>
	  							</tr>
							
							</thead>
							<tbody class="top-content-table-body table-table-body">
								
							</tbody>
						</table>

					</div>

				</div>
			
<!-- 				<div id="userTableContainer" class="user-table-container hide" data-custom-state="default">
					
					<h5>Top Users Summary</h5>
					
					<div id="userTableWrapper" class="wrapper">

						<table id="userTable" class="table table-hover table-bordered">
							<thead>
								
				  				<tr class="table-table-header"> 
	  								<th colspan="1" rowspan="2" data-sorter="false">User</th>
	  								<th class='m-width' colspan="1" rowspan="2" data-tt='post'>Posts</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interactions</th>
	  								<th class='m-width center' colspan="4" rowspan="1" data-sorter="false">Interaction Rates</th>
	  							</tr>

								<tr class="table-table-header">
	  								<th class='m-width' data-tt='click'>Clicks</th>
	  								<th class='m-width' data-tt='like'>Likes + Favorites</th>
	  								<th class='m-width' data-tt='share'>Shares + Retweets</th>
	  								<th class='m-width' data-tt='comment'>Comments</th>
	  								
	  								<th class='m-width' data-tt='clickRate'>Click Rate</th>
	  								<th class='m-width' data-tt='appRate'>Applause Rate</th>
	  								<th class='m-width' data-tt='ampRate'>Amplification Rate</th>
	  								<th class='m-width' data-tt='convRate'>Conversation Rate</th>
	  							</tr>
							
							</thead>
							<tbody class="top-user-table-body table-table-body">
	  							
							</tbody>
						</table>

					</div>
				</div>	 -->

			</div>

		</section>

	</body>

</html>