/*	Header Section	*/

.header-section {
	background-color: #d6d6d6;
	height: 60px;
	padding: 20px;
}

.newzsocial-logo {
	float: left;
	margin-right: 10px
}

.title-container {
	display: inline-block;
}

.date-select-container {
	float: right;
	font-weight: bold;
}

.datepicker {
	width: 90px;
}

.ui-datepicker {
	font-size: 10px;
}


/*	Summary Section	*/

.summary-section {
	/*background-color: #f2f2f2;*/
	/*height: 100px;*/
	padding: 20px;
}

.activity-summary-container-title {
	position: relative;
	top: 11px;
	left: 11px;
	display: inline-block;
	background-color: #f2f2f2;
	width: 60px;
	text-align: center;
	font-weight: bold;
	z-index: 1;
}

.impact-summary-container-title {
	position: relative;
	top: 11px;
	left: 39%;
	display: inline-block;
	background-color: #f2f2f2;
	width: 60px;
	text-align: center;
	font-weight: bold;
	z-index: 1;
}

.activity-summary-container {
	width: 35%;
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
}

.impact-summary-container {
	width: 55%;
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
	position: relative;
	left: 5%;
}

/*************** v4 CSS *****************/

.summary-container {
	text-align: center;
/*	padding: 10px 0px;*/
	/*background-color: #ffffff;*/
	/*width: 64%;*/
}

.summary-table-container {
	width: 65%;
	display: inline-block;
	text-align: left;
	padding: 10px;
	background-color: #ffffff;
}

.summary-table {
	background-color: white;
	/*width: 50%;*/
}

.summary-col {
	height: 70px;
	width: 20%;
}

.panel-table {
	width: 100%;
}

.col-left {
	width: 60%;
	padding-left: 10px;
}

.col-right {
	width: 40%;
}

.summary-col-left-top {
	height: 35%;
	padding-bottom: 5px;
}

.summary-col-left-btm {
	height: 65%;
}

.metric-display {
	/*display: inline-block;*/
	/*font-weight: bolder;*/
	/*letter-spacing: 1px;*/
	font-size: 30px;
	margin: 5px 8px 8px 0px;
}

.piechart-position {
	position: relative;
	left: 25%;
}

.divider-btm {
	/*border-bottom: 3px solid #bdbdbd;*/
/*	border: 3px solid #bdbdbd;
	border-top:none;*/
}

.divider-left {
	border-left: 1px solid #bdbdbd;
}

.arrow-margin {
	margin-right: 5px; 
}

.btn {
	font-size: 10px !important;
}

/*************** v4 CSS ****************/


.activity-summary-table, .impact-summary-table {
	width: 100%;
}

.divider {
	border-right: 1px solid #bdbdbd;
}

.activity-col-50 {
	height: 60px;
	width: 50%;
	padding: 10px;
}

.impact-col-25 {
	height: 60px;
	width: 25%;
	padding: 10px;
}

.impact-col-40 {
	height: 60px;
	width: 40%;
	padding: 10px;
}

.activity-col-top {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 50%;
}

.activity-col-bottom {
	height: 50%;
	text-align: center;
}

.impact-col-top {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	height: 50%;
}

.impact-col-bottom {
	height: 50%;
	text-align: center;
}

.percentage-display {
/*	position: relative;
	top: 25%;
	width: 48%;*/
	display: inline-block;
}

.sparkline-piechart {
	width: 48%;
	display: inline-block;
}

.percentage {
	/*font-weight: bold;*/
}

.up {
	color: green;
}

.down {
	color: red;
}

/*	Chart Section	*/

.chart-section {
	/*border-top: 1px solid #bdbdbd;*/
	/*background-color: #f2f2f2;*/
	padding: 20px;
	padding-top: 0px;
	text-align: center;
}

.charts-container {
	padding: 10px;
	width: 80%;
	display: inline-block;
}

.mode-btn {
	text-align: right;
	margin-bottom: 10px;
	display: block;
}

.linechart {
	width: 1240px;
	height: 300px;
	display: inline-block;
	margin-bottom: 64px;

}

.columnchart {
	width: 1240px;
	height: 150px;
	display: inline-block;
}

.shadow-out {
/*  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/
/*    -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
  box-shadow:         0px 0px 10px #bdbdb0;
}

.shadow-in {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}


/*	Table Section	*/

.social-network-select-container {
	/*text-align: right;*/
	float: right;
	font-weight: bold;
}

.table-section {
	/*border-top: 1px solid #bdbdbd;*/
	/*background-color: #f2f2f2;*/
	padding: 20px;
	padding-top: 0px;
	text-align: center;

}

.table-container {
	display: inline-block;
	text-align: left;
	width: 1100px;
}

.m-width {
	width: 6%;
}

.table-table-body > tr > th {
	background-color:  #d6d6d6;
}